@lost flexbox flex;
@lost gutter 2rem;

/* Colours */
$coal: #1B1B1B;
$mud: #363636;

/* Fonts */
$font-primary: 'Lora', serif;
$font-secondary: 'Lato', sans-serif;

/* Font Size */
$fs-smaller: 0.563em;
$fs-small: 0.75rem;
$fs-base: 1rem;
$fs-large: 1.333rem;
$fs-larger: 1.777rem;
$fs-largest: 2.369rem;

/* Line Height */
$lh-tightest: 1;
$lh-tigher: 1.333;
$lh-base: 1.777;
$lh-loose: 1.8;
$lh-loosest: 2.369;

/* Letter Spacing */
$ls-base: 0;

/* Imports */
@import 'icons.css';
@import 'skins.css';
@import 'objects.css';
@import 'base.css';
@import 'components.css';
@import 'shame.css';
