@lost flexbox flex;
@lost gutter 2rem;

/* Colours */
$coal: #1B1B1B;
$mud: #363636;

/* Baseline */
$baseline: 1.8rem;

/* Fonts */
$font-primary: 'Lora', serif;
$font-secondary: 'Lato', sans-serif;

/* Font Size */
$fs-huge: 2.074rem;
$fs-largest: 1.728rem;
$fs-larger: 1.44rem;
$fs-large: 1.2rem;
$fs-base: 1rem;
$fs-small: 0.833rem;
$fs-tiny: 0.694rem;

/* Letter Spacing */
$ls-base: 0;
$ls-loose: 0.05em;
$ls-looser: 0.1em;

/* Imports */
@import 'icons.css';
@import 'skins.css';
@import 'objects.css';
@import 'base.css';
@import 'components.css';
@import 'shame.css';
