.container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;

	&--wide {
		max-width: 52rem;
	}

	&--thin {
		max-width: 33.333333333rem;
	}
}

.hero {
	@extend .background-dark;
	font-family: $font-secondary;
	background-size: cover;
	background-position: center center;
	min-height: 70vh;
	lost-flex-container: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	padding: 3rem 0;
	line-height: $lh-tight;

	&--full {
		min-height: 100vh;
	}

	&.no-image {
		background-color: #fff;
		color: #000;
	}

	.container {
		position: relative;
		z-index: 10;
	}
}

.button {
	font-family: $font-secondary;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	padding: 0.6em 1.3em;
	border: 2px solid #000;
	color: #000;
	letter-spacing: 0.05em;
	font-size: 0.75em;

	&:hover {
		background-color: #000;
		color: #fff;
	}

	&--space {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	&--white {
		border-color: #fff;
		color: #fff;

		&:hover {
			background-color: #fff;
			color: #000;
		}
	}
}

.tags {
	list-style-type: none;
	margin: 1rem 0;
	padding: 0;

	&__tag {
		font-family: $font-secondary;
		color: #646464;
		text-transform: uppercase;
		border-radius: 2rem;
		border: 1px solid #939393;
		text-align: center;
		display: inline-block;
		padding: 0.3rem 1rem;
		font-size: $fs-small;
		margin: 1rem;
		margin-left: 0;
	}
}

.pad {
	&--vertical {
		padding-top: $baseline;
		padding-bottom: $baseline;
	}

	&--horizontal {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.author-image {
	@extend .round;
	max-width: 5rem;
}

.content {

	a {
		color: #2375DF;
		border-bottom: 1px solid rgba(#2375DF, 0.5);
	}

	h1,
	h2,
	h3 {
		clear: both;
	}

	figure {
		margin: 0;

		img { margin: 0; }

		figcaption {
			max-width: 30rem;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-style: italic;
			font-size: 0.75rem;
			padding: 1rem 0;
		}
	}

	img, figure {
		margin-top: 1rem;

		&[src*='#outset'], &.outset {
			@media (min-width: 1024px) {
				max-width: none;
				width: 130%;
				margin-left: -15%;
			}
		}

		&[src*='#right'], &.right {
			@media (min-width: 1024px) {
				margin-right: calc(-50vw + 50%);
				float: right;
				margin-left: 2rem;
				width: 90%;
			}
		}

		&[src*='#left'], &.left {
			@media (min-width: 1024px) {
				margin-left: calc(-50vw + 50%);
				float: left;
				margin-right: 2rem;
				width: 80%;
			}
		}

		&[src*='#fullscreen'], &[src*='#full'], &.fullscreen, &.full {
			max-width: none;
			width: 100vw;
			margin-left: calc(-50vw + 50%);
		}
	}
}

.post-listing {
	margin-bottom: 3rem;

	&__title {
		text-transform: none;
		margin-top: 0;
		margin-bottom: 0;
	}

	&__date {
		@extend .subdue;
		font-family: $font-secondary;
	}

	&__excerpt {
		margin-top: 0.5em;
	}

	&__media {
		margin-bottom: 1rem;
	}

	@media (min-width: 650px) {
		lost-flex-container: row;

		&__media {
			lost-column: 1/3;
		}

		&__body {
			lost-column: 2/3;
		}
	}
}

.square {
	position: relative;
	height: 0;
	padding-top: 100%;
	display: block;

	> img {
		position: absolute 0 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.author {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: calc($baseline / 2);

	&__image {
		@extend .round;
		width: 1.777rem !important;
		float: left;
		margin-right: 1rem;
	}

	&__name {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: $ls-looser;
		font-size: $fs-small;
	}
}
