.font-primary {
	font-family: $font-primary;
}

.font-secondary {
	font-family: $font-secondary;
}

.background-dark {
	background-color: $mud;
	color: #fff;
	font-family: $font-secondary;
}

.subtle-shadow {
	box-shadow: 0 0 10px rgba(0,0,0,.3),
				0 0 3px rgba(0,0,0,.4);
}

.round {
	border-radius: 100%;
}

.subdue {
	font-size: $fs-small;
	text-transform: uppercase;
	color: #868686;
	letter-spacing: 0.08em;
}
